@import '_variables';
@import '_mixins';
@import '_placeholders';
@import '_components';

@import 'layout/header';
@import 'layout/footer';

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');




main {

    font-family: 'Roboto', sans-serif;

    /* Debut section localisation */
    & .localisation {
        @extend %grid-center;
        padding: 1em;
        background: #eaeaea;
        background: linear-gradient(180deg,
                rgba(173, 173, 173, .35) 0%,
                rgba(234, 234, 234, .75) 15%,
                rgba(234, 234, 234, 1) 100%);

        & i {
            padding: 0 0.5em 0 0;
        }
    }

    /* Fin section localisation */


    /* Debut section presentation */
    & .presentation {
        @extend %grid-center;
        @include grid-template-set(1);
        padding: 2em 0 3em;
        background: #f6f6f6;
        text-align: center;

        & h2 {
            padding: 0 5em;
        }

        & p {
            padding: 1em 5em 2em;
        }
    }

    /* Fin section presentation */


    /* Debut section commentCaMarche */
    & .commentCaMarche {

        @extend %grid-center;
        @include grid-template-set(1);
        padding: 3em 1em;

        & h2 {
            @include grid-pos-set (1, auto, 1, 2);
            justify-self: start;
        }

        & ol {
            @include grid-pos-set (2, auto, 1, 4);
            display: grid;
            @include grid-template-set($commentCaMarche);
            grid-gap: 2em;
            margin: 1em 1em 0;
            counter-reset: countsection;
            justify-self: normal;

            & li::before {
                counter-increment: countsection;
                content: counter(countsection);
                position: relative;
                left: -1.9em;
                padding: 0.3em 0.6em;
                background-color: $violet-primaire;
                border-radius: 70%;
                color: $txt-fond-sombre;
            }

            & li:hover {
                background-color: lighten($violet-primaire, 35%);

                & i {
                    color: $violet-primaire;
                }
            }

            & p {
                display: inline-block;
                position: relative;
                left: -0.7em;
            }

            & i {
                padding: 0 1.1em 0 0;

            }
        }


    }

    /* Fin section commentCaMarche */
}